/* Global */
html { height: 100%; }
body {
	min-height: 100%;
	position: relative;
	padding-bottom: 3rem;
}

.navbar, #footer {
	background-color: #228dff;
}
	.navbar-light .navbar-brand,
	.navbar-light .navbar-brand:focus,
	.navbar-light .navbar-brand:hover {
		font-size: 1.5em;
	}
		.navbar-light .navbar-nav .nav-link, #footer {
			font-size: 1.1em;
			color: black;
		}

#footer {
	position: absolute; 
	bottom: 0; 
	width: 100%;
}
	#footer p {
		margin: .5rem auto;
	}

main h1 {
	margin-top: 30px;
	margin-bottom: 30px;
	text-align: center;
}

main form input {
	margin-top: 20px;
}

.user-image {
	width: 100px;
}

.btn-watched {
	background-color: #FF9E00;
}
.btn-watched:hover {
	background-color: #FFBC4F;
}

/* Members Page */
.cover-img {
	width: 100%;
}

main#members-page li {
	list-style-type: none;
	width: 90%;
}

.rating {
	opacity: 0;
	overflow: hidden;
	height: 0px;
	width: 100%;
	background-color: #222222dd;
	position: absolute;
	left: 0; right: 0;
	bottom: 0px;
	transition: .5s ease;
	margin: 0;
	color: white;
	font-size: 5.0em;
}
	li.card:hover .rating {
		opacity: 1;
		height: 100%;
		padding-top: 60%;
	}



#members-page .anime-items a {
	color: black;
}
#members-page .anime-items a:hover {
	text-decoration: none;
}

/* Anime Page */

#anime-room hr {
	clear: both;
	margin-top: 10px;
}

#anime-room h2 {
	margin-bottom: 30px;
}

.anime-info img {
	width: 200px;
	float: left;
	margin-right: 20px;
	margin-bottom: 20px;
}

.comment-form {
	margin-bottom: 30px;
	padding: 20px;
}

.comment {
	padding-bottom: 20px;
	width: 100%;
}
	.comment .comment-info {
		width: 100%;
	}
		.comment .comment-info img {
			float: left;
			width: 50px;
			margin-right: 5px;
			
		}
		.comment .comment-info p {
			margin-bottom: 0px;
		}
	.comment .comment-text {
		clear: both;
		padding: 10px;
	}


/* Users Page */
#users-page .card {
	width: 45%;
	float: left;
	margin: 0 15px;
}


@media only screen and (max-width: 480px){

	main#members-page .cover-img {
		max-width: 90%;
	}

}




