/* Global */
html { height: 100%; }
body {
	min-height: 100%;
	position: relative;
	padding-bottom: 3rem;
}

.navbar, #footer {
	background-color: #228dff;
}
	.navbar-light .navbar-brand,
	.navbar-light .navbar-brand:focus,
	.navbar-light .navbar-brand:hover {
		font-size: 1.5em;
	}
		.navbar-light .navbar-nav .nav-link, #footer {
			font-size: 1.1em;
			color: black;
		}

#footer {
	position: absolute; 
	bottom: 0; 
	width: 100%;
}
	#footer p {
		margin: .5rem auto;
	}

main h1 {
	margin-top: 30px;
	margin-bottom: 30px;
	text-align: center;
}

main form input {
	margin-top: 20px;
}

.user-image {
	width: 100px;
}


/* Members Page */
main#members-page li {
	list-style-type: none;
}

.rating {
	opacity: 0;
	overflow: hidden;
	height: 0px;
	width: 100%;
	background-color: #222222dd;
	position: absolute;
	left: 0; right: 0;
	bottom: 0px;
	transition: .5s ease;
	margin: 0;
	color: white;
	font-size: 5.0em;
}
	.card li:hover .rating {
		opacity: 1;
		height: 100%;
		padding-top: 60%;
	}

#members-page img, #members-page p {
	display: inline-block;
}


@media only screen and (max-width: 480px){

	main#members-page .cover-img {
		max-width: 90%;
	}

}




